body {
	padding: 50px;
}

h1 {
	font-size: 3em;
}

canvas {
    margin: auto;
    display: block;
    background-color: ghostwhite;
	border: 1px solid rgba(0,0,0,.5);
}

.container {
	text-align: center;
}

.ui-slider {
    margin: 20px auto !important;
    display: block;
}

.controls {
	position: absolute;
}

.controls h3 {
	border-bottom: 1px solid rgba(0,0,0,.5);
	margin-bottom: 20px;
	text-align: left;
}

.controls #speedValue {
	margin-top: 20px;
}

.controls label {
	text-align: left;
}

.controls button {
	outline: 0 !important;
}